<div class="container">
  <h2>New Participant</h2>
  
  <%= form_with model: @participant do |form| %>
    <%= form.hidden_field :meeting_id, value: params[:meeting_id], class: "form-control" %> 
    <div class="form-group">
      <%= label_tag(:user, "user id:") %>
      <%= form.text_field :user, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag(:remaining_votes, "remaining_votes:") %>
      <%= form.text_field :remaining_votes, class: "form-control" %>
    </div>

    
    <%= submit_tag nil, class: 'btn btn-primary' %>
  <% end %>
</div>